h1, 
p,
ul,
li {
    color: white;
}

h1 {
    margin-left: 5%;
}

h3 {
    color: #2fcdd0;
}

/*img {
    max-width: 10%;
}*/

.container {
    margin-left: 5%;
}

#gem-title {
    margin-left: 1%;
}